name: "CI/CD"
on:
  push:

jobs:
  unit-tests:
    timeout-minutes: 5
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        php: ["7.3", "7.4", "8.0", "8.1", "8.2", "8.3"]
    name: ${{ matrix.os }} - PHP${{ matrix.php }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Installing PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      - name: Get Composer Cache Directory
        id: composer-cache
        run: |
          echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ matrix.os }}-PHP${{ matrix.php }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ matrix.os }}-PHP${{ matrix.php }}-composer-

      - name: Composer Install
        run: composer update --prefer-dist --optimize-autoloader --no-progress --ansi --no-interaction

      - name: Unit Tests
        run: ./vendor/bin/phpunit
